Source: libsxg
Priority: optional
Maintainer: Hiroki Kumazaki <kumagi@google.com>
Build-Depends:
         debhelper (>= 11),
         cmake,
         libssl-dev,
Standards-Version: 4.4.1
Section: libs
Vcs-Git: https://github.com/google/libsxg.git
Vcs-Browser: https://github.com/google/libsxg
Homepage: https://github.com/google/libsxg
Rules-Requires-Root: no

Package: libsxg0.2
Architecture: any
Multi-Arch: same
Depends: libssl1.1 (>=1.1.1),
         ${misc:Depends},
         ${shlibs:Depends}
Pre-Depends: ${misc:Pre-Depends}
Description: Signed HTTP Exchange library
 Signed HTTP Exchange (SXG) is file format which contains an HTTP exchange
 (request and response) signed by a publisher's origin.
 https://tools.ietf.org/html/draft-yasskin-http-origin-signed-responses-06
 If the publisher creates an SXG file with a valid signature, it will be
 treated like a valid HTTP response regardless of the distribution channel.

Package: libsxg-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libsxg0.2 (= ${binary:Version}),
         ${misc:Depends}
Description: Development files for Signed HTTP Exchange library
 With development files, you can build your own SXG applications.

Package: sxg-util
Section: web
Architecture: any
Multi-Arch: foreign
Depends: libsxg0.2 (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Description: Signed HTTP Exchange utilities to manipurate SXG files
 gensxg enables you to generate SXG file on command line.
 You need SXG certificate and private key to generate proper SXG file.
 gencertchain enables you to generate Certificate Chain file.
 You need SXG certificate to generate proper Certificate Chain file.
